<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>UAT Generator</display-name>

  <servlet>
    <servlet-name>generate</servlet-name>
    <servlet-class>com.uat.generator.GenerateServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>generate</servlet-name>
    <url-pattern>/generate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>push</servlet-name>
    <servlet-class>com.uat.generator.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>push</servlet-name>
    <url-pattern>/push</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>report-bug</servlet-name>
    <servlet-class>com.uat.generator.ReportBugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report-bug</servlet-name>
    <url-pattern>/report-bug</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>execute</servlet-name>
    <servlet-class>com.uat.generator.ExecuteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>execute</servlet-name>
    <url-pattern>/execute</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>modules</servlet-name>
    <servlet-class>com.uat.generator.ModulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modules</servlet-name>
    <url-pattern>/modules</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>analyze</servlet-name>
    <servlet-class>com.uat.generator.AnalyzeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analyze</servlet-name>
    <url-pattern>/analyze</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>functions-list</servlet-name>
    <servlet-class>com.uat.generator.FunctionsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>functions-list</servlet-name>
    <url-pattern>/functions/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>function-run</servlet-name>
    <servlet-class>com.uat.generator.FunctionRunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>function-run</servlet-name>
    <url-pattern>/functions/run</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>health</servlet-name>
    <servlet-class>com.uat.generator.HealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>health</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
</web-app>
